@model TheaterSchool.Models.TeacherTimetable

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            ID преподавателя
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeacherID)
        </dd>
        <dt class = "col-sm-2">
            Фамилия преподавателя
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Teacher.PhysicalPerson.LastName)
        </dd>
        <dt class = "col-sm-2">
            ID расписания
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimetableID)
        </dd>
        <dt class = "col-sm-2">
            День недели
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timetable.DayOfTheWeek)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TeacherID" />
        <input type="hidden" asp-for="TimetableID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
